<div class="main-card mb-3 card"> 
    <div class="card-header">
        <h3 class="card-title">Reporte</h3>

            <div class="p-fluid p-formgrid grid">
   
                <div class="field col-12 md:col-6">
                    <label for="">DNI</label>
                    <div class="styled-input-group">
                        <div class="styled-addon">
                            <i class="pi pi-search-plus"></i>
                        </div>
                        <p-autoComplete
                            [(ngModel)]="selecteEmpleadoAdvanced"
                            [suggestions]="filtredEmpleados"
                            (completeMethod)="flitrerEmpleado($event)"
                            (onSelect)="onSelectEmpleado($event)"
                            field="empl_DNI"
                            class="autocomplete-input"
                            appendTo="body">
                        </p-autoComplete>
                    </div>
                </div>
                  <div class="field col-12 md:col-6">
                    <label for="">Empleado</label>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-users" style="line-height: 1.25"></i>
                        </p-inputGroupAddon>
                    <input pInputText id="Cliente" type="text" required autofocus value="{{empl_nombre}}"  />
                </p-inputGroup>
                  </div>
            </div>

    </div>

</div>

<div class="card-body" >
    <iframe  [src]="pdfSrc" type="application/pdf" width="100%" height="600px">
        PDF Preview
      </iframe>
</div>




