<p-toast></p-toast>
<div class="main-card mb-3 card"> 
    <div class="card-header">
        <h3 class="card-title">Factura</h3>
    </div>
    <div class="card-body">
         <button (click)="collapse()" pButton icon="pi pi-plus" style="margin-bottom: 10px ;" [class.hidden]="!Agregar">Agregar</button>
          
        <div [class.hidden]="!Collapse" style="margin-top: 20px;">

            <form [formGroup]="FacturaForm" (ngSubmit)="onSubmit()">
                <div class="p-fluid p-formgrid grid">

                    <div class="field col-12 md:col-6">
                    <label for="">Proveedor</label>
                    <p-autoComplete [(ngModel)]="selectedProveedoresAdvanced" [suggestions]="filteredProveedores" (completeMethod)="filterProveedor($event)" (onSelect)="onSelectProveedor($event)" required autofocus  [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('prov_Proveedor').value === ''}" field="prov_Proveedor" formControlName="prov_Proveedor" [dropdown]="true" appendTo="body"></p-autoComplete>

                    <small class="ng-dirty ng-invalid" *ngIf="submitted && FacturaForm.controls['Prov_Proveedor'].invalid" style="color: red !important;">Proveedor Requerido</small>
                </div>
                    
                    <div class="field col-12 md:col-6">
                        <label for="">Metodo Pago</label>
                    <p-autoComplete [(ngModel)]="selectedMetodoPagoAdvanced" [suggestions]="filteredMetodoPago" (completeMethod)="filterMetodo($event)" (onSelect)="onSelectMetodo($event)" required autofocus  [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('Mepa_Metodo').value === ''}" field="mepa_Metodo" formControlName="Mepa_Metodo" [dropdown]="true" appendTo="body"></p-autoComplete>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && FacturaForm.controls['Mepa_Metodo'].invalid" style="color: red !important;">Metodo Requerido</small>
                    </div>
                </div>
            </form>

            <div class="formGroup">
                <div [class.hidden]="!Detalles">
                    <button pButton icon="pi pi-plus" type="button"  (click)="Onjoya()" label="Agregar Joya" class="p-button-outlined"></button>
                    <button pButton icon="pi pi-plus" type="button"  (click)="Onmaquillaje()" label="Agregar Maquillaje" class="p-button-outlined"></button>

                </div>
                <div [class.hidden]="!FormularioJoya">
                    <button pButton icon="pi pi-times" type="button" (click)="cancelarJM()" label="Cancelar" class="p-button-outlined"></button>

                </div>
                <div [class.hidden]="!FormularioMaquillaje">
                    <button pButton icon="pi pi-times" type="button" (click)="cancelarMQ()" label="Cancelar" class="p-button-outlined"></button>

                </div>
            </div>

            <div [class.hidden]="!Detalles">
                <form [formGroup]="DetalleForm"  (ngSubmit)="subir()"> 
                <p-table [value]="staticData" >
                    <ng-template pTemplate="header">
                        <tr>
                            <!-- Ajusta los porcentajes según sea necesario  -->
                            <th style="width:20%;">Tabla</th>
                            <th style="width:35%;">Producto</th>
                            <th style="width:20%;">Cantidad</th>
                            <th style="width:20%;">SubTotal</th>
                            <th style="width:20%;">Eliminar</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-transaction>
                        <tr>
                            <td style="width:15%;">Joya</td>
                            <td style="width:40%;">Diamante</td>
                            <td style="width:20%;">3</td>
                            <td style="width:20%;">300</td>
                        </tr>
                        <tr>
                            <td style="width:20%;">Joya</td>
                            <td style="width:35%;">Oro</td>
                            <td style="width:20%;">1</td>
                            <td style="width:20%;">200</td>
                        </tr>               
                        <tr>
                            <td style="width:20%;">
                                <label>
                                    <input type="radio" name="j-m-radio" value="1" (change)="onRadioChange($event)" formControlName="radio" />
                                    J
                                </label>
                                <label>
                                    <input type="radio" name="j-m-radio" value="0" (change)="onRadioChange($event)" formControlName="radio" />
                                    M
                                </label>

                            </td>
                            
                            <td style="width:35%;">
                                <p-autoComplete [(ngModel)]="selectedCountryAdvanced" [suggestions]="filteredCountries" (completeMethod)="filterCountry($event)" (onSelect)="onSelectProduct($event)" field="text" formControlName="Prod_Producto" [dropdown]="true" appendTo="body">
                                </p-autoComplete>
                            </td>
                            <td style="width:5%;">
        
                                <input pInputText id="Prod_Id" formControlName="Prod_Id" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && DetalleForm.get('Prod_Id').invalid}"/>
                
                        
                        </td>
                            <td style="width:20%;">
                                <input pInputText id="Faxd_Cantidad" formControlName="Faxd_Cantidad" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && DetalleForm.get('Faxd_Cantidad').invalid}" (keydown)="validarTexto($event)" />
                            </td>
                            <td style="width:20%;">
                                <button pButton  type="button" label="Eliminar" class="p-button-outlined"></button>

                            </td>
                        </tr>
                    </ng-template>
                </p-table>
                </form>

                <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;" [class.hidden]="!Tabla">
                <h1>SubTotal:500lps</h1>
                </div>
                <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;" [class.hidden]="!Tabla">
                    <h1>Total:575lps</h1>
                </div>
                <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
                    <button pButton icon="pi pi-check" type="button"  (click)="onSubmit()" label="Agregar" class="p-button-outlined"></button>
                    <button pButton icon="pi pi-times" type="button" (click)="cancelar()" label="Cancelar" class="p-button-outlined"></button>
                </div>
            </div>
        </div>  

        
<div class="card" [class.hidden]="!FormularioJoya">
    <form [formGroup]="JoyaForm" >
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="Joya">Joya</label>
                    <input pInputText id="Joya" formControlName="Joya_Nombre" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_Nombre'].invalid}" (keydown)="validarTexto($event)" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_Nombre'].invalid" style="color: red !important;">Joya Requerido</small>
            </div>
            <div class="field col-12 md:col-6">
              <label for="Compra">Precio Compra</label>
                <p-inputNumber id="Compra" formControlName="Joya_PrecioCompra" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_PrecioCompra'].invalid}"></p-inputNumber>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_PrecioCompra'].invalid" style="color: red !important;">Precio Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <label for="Venta">Precio Venta</label>
                <p-inputNumber id="Venta" formControlName="Joya_PrecioVenta" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_PrecioVenta'].invalid}"></p-inputNumber>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_PrecioVenta'].invalid" style="color: red !important;">Precio Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <label for="Mayor">Precio Mayor</label>
                <p-inputNumber id="Mayor" formControlName="Joya_PrecioMayor" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_PrecioMayor'].invalid}"></p-inputNumber>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_PrecioMayor'].invalid" style="color: red !important;">Precio Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <label for="Stock">Stock</label>
              <input pInputText id="Stock" formControlName="Joya_Stock" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_Stock'].invalid}" (keydown)="ValidarNumeros($event)" />
              <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_Stock'].invalid" style="color: red !important;">Stock Requerido</small>
          </div>
         
          <div class="field col-12 md:col-6">
              <label for="Material">Material</label>
              <select formControlName="Mate_Id" pInputText id="Material" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.get('Mate_Id').value === '0'}" >
              <option *ngFor="let mate of material" [value]="mate.value">{{ mate.text }}</option>
              </select>
              <small *ngIf="submitted && JoyaForm.get('Mate_Id').value === '0'" style="color: red;">Material Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <label for="Categoria">Categoria</label>
              <select formControlName="Cate_Id" pInputText id="Categoria" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.get('Cate_Id').value === '0'}" >
              <option *ngFor="let cate of categoria" [value]="cate.value">{{ cate.text }}</option>
              </select>
              <small *ngIf="submitted && JoyaForm.get('Cate_Id').value === '0'" style="color: red;">Categoria Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <p-fileUpload #fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" customUpload="true" (onSelect)="onUpload($event)" label="Bajar" chooseLabel="Subir" class="mr-2"></p-fileUpload>
              <small *ngIf="submitted && JoyaForm.get('Joya_Imagen').value === ''" style="color: red;">Imagen Requerido</small>
          </div>
        </div>
    </form>
        <button pButton icon="pi pi-check" type="button"  (click)="onSubmit()" label="Agregar" class="p-button-outlined"></button>
        <button pButton icon="pi pi-sort-up" type="button" (click)="cancelarJM()" label="Cancelar" class="p-button-outlined"></button>
</div>

<div class="card" [class.hidden]="!FormularioMaquillaje">
    <form [formGroup]="MaquillajeForm" (ngSubmit)="onSubmitMaquillaje()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="Maquillaje">Maquillaje</label>
                <input pInputText id="Maquillaje" formControlName="Maqu_Nombre" type="text" required autofocus 
                    [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_Nombre'].invalid}"
                    (keydown)="validarTexto($event)" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_Nombre'].invalid" style="color: red !important;">Joya Requerido</small>
            </div>
            <div class="field col-12 md:col-6">
            <label for="Compra">Precio Compra</label>
            <p-inputNumber id="Compra" formControlName="Maqu_PrecioCompra" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_PrecioCompra'].invalid}"></p-inputNumber>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_PrecioCompra'].invalid" style="color: red !important;">Precio Requerido</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="Venta">Precio Venta</label>
            <p-inputNumber id="Venta" formControlName="Maqu_PrecioVenta" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_PrecioVenta'].invalid}"></p-inputNumber>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_PrecioVenta'].invalid" style="color: red !important;">Precio Requerido</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="Mayor">Precio Mayor</label>
            <p-inputNumber id="Mayor" formControlName="Maqu_PrecioMayor" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_PrecioMayor'].invalid}"></p-inputNumber>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_PrecioMayor'].invalid" style="color: red !important;">Precio Requerido</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="Maquillaje">Stock</label>
            <input pInputText id="Maquillaje" formControlName="Maqu_Stock" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_Stock'].invalid}" (keydown)="ValidarNumeros($event)"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_Stock'].invalid" style="color: red !important;">Maquillaje Requerido</small>
        </div>
       
        <!-- <div class="field col-12 md:col-6">
            <label for="Marca">Marca</label>
            <select formControlName="Marc_Id" pInputText id="Marca" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.get('Marc_Id').value === '0'}" >
            <option *ngFor="let marc of " [value]="marc.value">{{ marc.text }}</option>
            </select>
            <small *ngIf="submitted && MaquillajeForm.get('Marc_Id').value === '0'" style="color: red;">Material Requerido</small>
        </div> -->
        <div class="field col-12 md:col-6">
            <p-fileUpload #fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" customUpload="true" (onSelect)="onUpload($event)" label="Subir Imagen" chooseLabel="Subir" class="mr-2"></p-fileUpload>
            <small *ngIf="submitted && MaquillajeForm.get('Maqu_Imagen').value === ''" style="color: red;">Imagen Requerido</small>
        </div>
        </div>

        <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
        <button pButton icon="pi pi-check" type="submit" label="Maquillaje" class="p-button-outlined"></button>
        <button pButton icon="pi pi-sort-up" type="button" (click)="cancelarMQ()" label="Cancelar" class="p-button-outlined"></button>
        </div>

    </form>
</div>
        <p-table #dt1 [value]="Factura" dataKey="fact_Id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [class.hidden]="!DataTable"[paginator]="true" [globalFilterFields]="['fact_Id,clie_Nombre,empl_Nombre,mepa_Metodo,impu_Impuesto']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                             ID
                            <p-columnFilter type="text" field="fact_Id" display="menu" placeholder="Search by name"></p-columnFilter>
                        </div>
                    </th>
                 
                   
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Proveedor
                            <p-columnFilter type="text" field="impu_Impuesto" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Metodo Pago
                            <p-columnFilter type="text" field="mepa_Metodo" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                            Acciones
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-fact>
                <tr>
                    <td>
                        {{fact.faCE_Id}}
                    </td>
                    
                    <td>
                        {{fact.prov_Proveedor}}
                    </td>
                    <td>
                        {{fact.mepa_Metodo}}
                    </td>
                    <td style="display: flex; justify-content: space-around;">
                        <button pButton pRipple type="button" label="Editar" class="p-button-raised p-button-success"></button>
                        <button pButton pRipple type="button" label="Detalles" class="p-button-raised p-button-secondary" (click)="Imprimir()"></button>
                        <button pButton pRipple type="button" label="Eliminar" class="p-button-raised p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<object type="application/pdf">
    {{facura_impresa}}
</object>

