<p-toast></p-toast>
<div class="main-card mb-3 card"> 
    <div class="card-header">
        <div style="width: 100%; height: 140px; background-image: url(./../../../../../../assets/demo/images/galleria/facom.png); background-repeat: no-repeat; background-size: cover; background-position: center 45%; border-radius: 10px;"></div>
    </div>
    <div class="card-body">
         <button (click)="collapse()" pButton icon="pi pi-plus" style="margin-bottom: 10px ;  margin-top: 10px;" [class.hidden]="!Agregar">Agregar</button>
          
        <div [class.hidden]="!Collapse" style="margin-top: 20px;">

            <form [formGroup]="FacturaForm" (ngSubmit)="onSubmit()" (keydown)="handleKeyDown($event)"> 
                <div class="p-fluid p-formgrid grid">

                    <div class="field col-12 md:col-6">
                        <label for="">Proveedor</label>
                        <p-autoComplete 
                        [(ngModel)]="selectedProveedoresAdvanced" 
                        [suggestions]="filteredProveedores" 
                        (completeMethod)="filterProveedor($event)" 
                        (onSelect)="onSelectProveedor($event)" 
                        required autofocus  
                        [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('nombreProveedor').value === ''}" 
                        field="nombreProveedor" 
                        formControlName="nombreProveedor" 
                        appendTo="body" [dropdown]="true" (keydown)="validarTexto($event)"></p-autoComplete>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && FacturaForm.controls['nombreProveedor'].invalid" style="color: red !important;">Proveedor Requerido</small>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="">Sucursal</label>
                        <p-autoComplete 
                        [(ngModel)]="selectedSucursalesAdvanced" 
                        [suggestions]="filteredSucursales" 
                        (completeMethod)="filterSucursal($event)" 
                        (onSelect)="onSelectSucursal($event)" 
                        required autofocus  
                        [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('sucu_Nombre').value === ''}" 
                        field="sucu_Nombre" 
                        formControlName="sucu_Nombre" 
                        appendTo="body" [dropdown]="true" (keydown)="validarTexto($event)"></p-autoComplete>
                        <small class="ng-dirty ng-invalid" *ngIf="submitted && FacturaForm.controls['sucu_Nombre'].invalid" style="color: red !important;">Sucursal Requerida</small>
                    </div>
                <div [class.hidden]="!Detalles">
                    
                    <div class="field col-12 md:col-12">
                        <label for="">Método de Pago</label>
                        <div class="payment-method-icons" >
                           
                            <button type="button" (click)="selectMetodoPago('1')" [class.selected]="selectedMetodo === '1'">
                                <i class="pi pi-wallet"></i> Efectivo
                            </button>
                    
                         
                            <button type="button" (click)="selectMetodoPago('4')" [class.selected]="selectedMetodo === '4'">
                                <i class="pi pi-credit-card"></i> Tarjeta de Crédito
                            </button>
                    
                   
                            <button type="button" (click)="selectMetodoPago('7')" [class.selected]="selectedMetodo === '7'">
                                <i class="pi pi-globe"></i> Pago en Línea
                            </button>
                        </div>
                    </div>
                </div>
            </div>
   
                    <p-table [value]="FacturaDetalle"  responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th style="width: 10%;">Categoria</th>
                                <th style="width: 40%;">Producto</th>
                                <th style="width: 10%;">Cantidad</th>
                                <th style="width: 10%;">Precio Compra</th>
                                <th style="width: 10%;">Precio Venta</th>
                                <th style="width: 10%;">Precio Mayorista</th>
                                <th style="width: 10%;">Eliminar</th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-detalle>
                            <tr>
                                <td style="width:10%;">{{detalle.categoria}}</td>
                            
                                <td style="width:10%;">{{detalle.producto}}</td>
                                <td style="width:40%;">{{detalle.cantidad}}</td>
                                <td style="width:10%;">{{detalle.precio_Venta}}</td>
                                <td style="width:10%;">{{detalle.precioVenta}}</td>
                                <td style="width:10%;">{{detalle.precioMayorista}}</td>
                                <td style="width:10%;">
                                    <span pRipple class="pi pi-trash p-button-rounded p-button-warning" 
                                          style="cursor: pointer; padding: 5px; border: none; background-color: transparent;" 
                                          (click)="confirmDelete(detalle.faCD_Id)">
                                    </span>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="footer">
                            <tr>
                                <td style="width: 10%;">
                                    <div style="width: 100px;">
                                        <label>
                                            <input type="radio" name="j-m-radio" value="1" (change)="onRadioChange($event)" formControlName="radio" />
                                            J
                                        </label>
                                        <label>
                                            <input type="radio" name="j-m-radio" value="0" (change)="onRadioChange($event)" formControlName="radio" />
                                            M
                                        </label>
                                    </div>
                                </td>
                                <td style="width: 25%;">
                                 
                                    
                    
                                       
                                   
                                        <p-autoComplete 
                                        [(ngModel)]="selectedCountryAdvanced"
                                        [suggestions]="filteredCountries"
                                        (completeMethod)="filterCountry($event)"
                                        (onSelect)="onSelectProduct($event)"
                                        field="text"
                                        formControlName="nombreProducto"
                                        appendTo="body"
                                        
                                        [style]="{'width': '220px'}">
                                        >
                                    </p-autoComplete>
                                 
                                </td>
                                <td style="width: 10%;">
                                    <input pInputText id="faCD_Cantidad" formControlName="faCD_Cantidad" type="text" required autofocus 
                                    (keydown)="ValidarNumeros($event)"    [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.controls['faCD_Cantidad'].value === ''}" style="width: 70px;" />
                                </td>
                                <td style="width: 15%;">
                                    <input pInputText id="precioCompra" formControlName="precioCompra" type="text" required autofocus 
                                           [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('precioCompra').value === ''}" 
                                           (keydown)="ValidarNumeros($event)" style="width: 120px;" />
                                </td>
                                <td style="width: 15%;">
                                    <input pInputText id="precioVenta" formControlName="precioVenta" type="text" required autofocus 
                                           [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('precioVenta').value === ''}" 
                                           (keydown)="ValidarNumeros($event)"  style="width: 120px;"/>
                                </td>
                                <td style="width: 15%;">
                                    <input pInputText id="precioMayor" formControlName="precioMayor" type="text" required autofocus 
                                           [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('precioMayor').value === ''}" 
                                           (keydown)="ValidarNumeros($event)" style="width: 120px;"  />
                                </td>
                                <td style="width: 10%;">
                                    <!-- Dejar vacío si no se necesita -->
                                </td>
                            </tr>
                        </ng-template>
                    </p-table>
                    
                    <div class="formGroup">
                       
                        
                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;" [class.hidden]="!Tabla">
                    <h1>SubTotal:500lps</h1>
                    </div>
                    <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;" [class.hidden]="!Tabla">
                        <h1>Total:575lps</h1>
                    </div>
                <div class="p-fluid p-formgrid grid">
                    <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
                        <button pButton icon="pi pi-check-circle" type="button" (click)="Confirmar()" label="Confirmar" class="p-button-outlined"></button>
                        <button pButton icon="pi pi-reply" type="button" (click)="cancelar()" label="Volver" class="p-button-outlined"></button>
                    </div>
                </div>
            </form>

        

         
        </div>  


        
<div class="card" [class.hidden]="!FormularioJoya">
    <form [formGroup]="JoyaForm" >
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="Joya">Joya</label>
                    <input pInputText id="Joya" formControlName="Joya_Nombre" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_Nombre'].invalid}" (keydown)="validarTexto($event)" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_Nombre'].invalid" style="color: red !important;">Joya Requerido</small>
            </div>
            <div class="field col-12 md:col-6">
              <label for="Compra">Precio Compra</label>
                <p-inputNumber id="Compra" formControlName="Joya_PrecioCompra" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_PrecioCompra'].invalid}"></p-inputNumber>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_PrecioCompra'].invalid" style="color: red !important;">Precio Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <label for="Venta">Precio Venta</label>
                <p-inputNumber id="Venta" formControlName="Joya_PrecioVenta" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_PrecioVenta'].invalid}"></p-inputNumber>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_PrecioVenta'].invalid" style="color: red !important;">Precio Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <label for="Mayor">Precio Mayor</label>
                <p-inputNumber id="Mayor" formControlName="Joya_PrecioMayor" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_PrecioMayor'].invalid}"></p-inputNumber>
              <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_PrecioMayor'].invalid" style="color: red !important;">Precio Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <label for="Stock">Stock</label>
              <input pInputText id="Stock" formControlName="Joya_Stock" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.controls['Joya_Stock'].invalid}" (keydown)="ValidarNumeros($event)" />
              <small class="ng-dirty ng-invalid" *ngIf="submitted && JoyaForm.controls['Joya_Stock'].invalid" style="color: red !important;">Stock Requerido</small>
          </div>
         
          <div class="field col-12 md:col-6">
              <label for="Material">Material</label>
              <select formControlName="Mate_Id" pInputText id="Material" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.get('Mate_Id').value === '0'}" >
              <option *ngFor="let mate of material" [value]="mate.value">{{ mate.text }}</option>
              </select>
              <small *ngIf="submitted && JoyaForm.get('Mate_Id').value === '0'" style="color: red;">Material Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <label for="Categoria">Categoria</label>
              <select formControlName="Cate_Id" pInputText id="Categoria" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && JoyaForm.get('Cate_Id').value === '0'}" >
              <option *ngFor="let cate of categoria" [value]="cate.value">{{ cate.text }}</option>
              </select>
              <small *ngIf="submitted && JoyaForm.get('Cate_Id').value === '0'" style="color: red;">Categoria Requerido</small>
          </div>
          <div class="field col-12 md:col-6">
              <p-fileUpload #fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" customUpload="true" (onSelect)="onUpload($event)" label="Bajar" chooseLabel="Subir" class="mr-2"></p-fileUpload>
              <small *ngIf="submitted && JoyaForm.get('Joya_Imagen').value === ''" style="color: red;">Imagen Requerido</small>
          </div>
        </div>
    </form>
        <button pButton icon="pi pi-check" type="button"  (click)="OnSubmitJoya()" label="Agregar" class="p-button-outlined"></button>
        <button pButton icon="pi pi-sort-up" type="button" (click)="cancelarJM()" label="Cancelar" class="p-button-outlined"></button>
</div>

<div class="card" [class.hidden]="!FormularioMaquillaje">
    <form [formGroup]="MaquillajeForm" (ngSubmit)="onSubmitMaquillaje()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="Maquillaje">Maquillaje</label>
                <input pInputText id="Maquillaje" formControlName="Maqu_Nombre" type="text" required autofocus 
                    [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_Nombre'].invalid}"
                    (keydown)="validarTexto($event)" />
                <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_Nombre'].invalid" style="color: red !important;">Joya Requerido</small>
            </div>
            <div class="field col-12 md:col-6">
            <label for="Compra">Precio Compra</label>
            <p-inputNumber id="Compra" formControlName="Maqu_PrecioCompra" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_PrecioCompra'].invalid}"></p-inputNumber>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_PrecioCompra'].invalid" style="color: red !important;">Precio Requerido</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="Venta">Precio Venta</label>
            <p-inputNumber id="Venta" formControlName="Maqu_PrecioVenta" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_PrecioVenta'].invalid}"></p-inputNumber>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_PrecioVenta'].invalid" style="color: red !important;">Precio Requerido</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="Mayor">Precio Mayor</label>
            <p-inputNumber id="Mayor" formControlName="Maqu_PrecioMayor" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_PrecioMayor'].invalid}"></p-inputNumber>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_PrecioMayor'].invalid" style="color: red !important;">Precio Requerido</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="Maquillaje">Stock</label>
            <input pInputText id="Maquillaje" formControlName="Maqu_Stock" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.controls['Maqu_Stock'].invalid}" (keydown)="ValidarNumeros($event)"/>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && MaquillajeForm.controls['Maqu_Stock'].invalid" style="color: red !important;">Maquillaje Requerido</small>
        </div>
       
        <div class="field col-12 md:col-6">
            <label for="Marca">Marca</label>
            <select formControlName="Marc_Id" pInputText id="Marca" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && MaquillajeForm.get('Marc_Id').value === '0'}" >
                <option *ngFor="let marc of marca" [value]="marc.value">{{ marc.text }}</option>
                </select>
            
            <small *ngIf="submitted && MaquillajeForm.get('Marc_Id').value === '0'" style="color: red;">Material Requerido</small>
        </div> 
        <div class="field col-12 md:col-6">
            <p-fileUpload #fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" customUpload="true" (onSelect)="onUpload($event)" label="Subir Imagen" chooseLabel="Subir" class="mr-2"></p-fileUpload>
            <small *ngIf="submitted && MaquillajeForm.get('Maqu_Imagen').value === ''" style="color: red;">Imagen Requerido</small>
        </div>
        </div>

        <div >
            <button pButton icon="pi pi-check" type="button"  (click)="onSubmitMaquillaje()" label="Maquillaje" class="p-button-outlined"></button>
            <button pButton icon="pi pi-sort-up" type="button" (click)="cancelarMQ()" label="Cancelar" class="p-button-outlined"></button>
        </div>

    </form>
</div>

        <p-table #dt1 [value]="Factura" dataKey="fact_Id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [class.hidden]="!DataTable"[paginator]="true" [globalFilterFields]="['fact_Id,clie_Nombre,empl_Nombre,mepa_Metodo,impu_Impuesto']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                 
                   
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Proveedor
                            <p-columnFilter type="text" field="impu_Impuesto" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Metodo Pago
                            <p-columnFilter type="text" field="mepa_Metodo" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                            Acciones
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-fact>
                <tr>
                    
                    <td>
                        {{fact.nombreProveedor}}
                    </td>
                    <td>
                        {{fact.mepa_Metodo}}
                    </td>
                    <td style="display: flex; justify-content: space-around;">
                       <p-button *ngIf="fact.faCE_Finalizada == 'True'" label="Editar" icon="pi pi-user-edit" size="small" (click)="Fill(fact.faCE_Id)" severity="primary" [raised]="true" [plain]="true"></p-button>

                        <p-button *ngIf="fact.faCE_Finalizada == 'False'"  label="Imprimir"   icon="pi pi-book" size="small" (click)="Imprimir()" severity="secondary" (click)="detalles(fact.faCE_Id)" [raised]="true" [plain]="true"></p-button>
                       
                        <p-button  *ngIf="fact.faCE_Finalizada == 'True'" label="Finalizar" icon="pi pi-check" size="small" (click)="deleteSelectedProducts(fact.faCE_Id)" severity="success" [raised]="true" [plain]="true"></p-button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>
<object type="application/pdf">
    {{facura_impresa}}
</object>

<p-dialog [(visible)]="deleteProductDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
    <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span>Esta seguro de Finalizar la factura??</span>
    </div>
    <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteProductDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes" (click)="ConfirmFactura()"></button>
    </ng-template>
</p-dialog>

<div class="card-body" [class.hidden]="!Reporte_2">
    <iframe *ngIf="pdfSrc" [src]="pdfSrc" type="application/pdf" width="100%" height="600px">
        PDF Preview
      </iframe>
</div>