<p-toast ></p-toast>
<ul class="layout-menu">
    <ng-container *ngFor="let item of model; let i = index;">
        <li app-menuitem *ngIf="!item.separator" [item]="item" [index]="i" [root]="true"></li>
        <li *ngIf="item.separator" class="menu-separator"></li>
    </ng-container>
    <li>
      
    </li>
</ul>
<p-dialog header="Abrir Caja" [(visible)]="abrirCajaDialog" [modal]="true" [closable]="true">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span>Con cuanto inicia el dia?</span>
        </div>
    </ng-template>
    <form [formGroup]="CajaForm" #formDirective="ngForm">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="caja_MontoFinal">Monto Inicio</label>
          <p-inputNumber id="Compra" formControlName="caja_MontoInicial" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': subirCaja && CajaForm.controls['caja_MontoInicial'].invalid}"></p-inputNumber>
        <small class="ng-dirty ng-invalid" *ngIf="subirCaja && CajaForm.controls['caja_MontoInicial'].invalid" style="color: red !important;">Monto inicial requerido</small>
        </div>

     
    </div>
    <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
        <button pButton pRipple icon="pi pi-check" class="p-button-outlined p-button-primary" label="Abrir caja" type="submit" (click)="onSubmitCaja()"></button>
      </div>
    </form>
</p-dialog>

<p-dialog [(visible)]="cerrarCajaDialog" [modal]="true" [style]="{width:'450px'}" [closable]="true">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span>Digite las ganancias del dia</span>
    
        </div>
    </ng-template>
    <form [formGroup]="CajaCerradaForm" #formDirective="ngForm" (ngSubmit)="onSubmitCajaCerrada()">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="caja_MontoFinal">Monto Final</label>
          <p-inputNumber id="Compra" formControlName="caja_MontoFinal" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && CajaCerradaForm.controls['caja_MontoFinal'].invalid}"></p-inputNumber>
        <small class="ng-dirty ng-invalid" *ngIf="submitted && CajaCerradaForm.controls['caja_MontoFinal'].invalid" style="color: red !important;">Monto inicial requerido</small>
        </div>
        <div class="field col-12 md:col-6">
          <label for="caja_Observacion">Observaciones</label>
          <input pInputText id="caja_Observacion" formControlName="caja_Observacion" type="text" required autofocus 
          [ngClass]="{'ng-invalid ng-dirty': submitted && CajaCerradaForm.controls['caja_Observacion'].invalid}"
       />
        <small class="ng-dirty ng-invalid" *ngIf="submitted && CajaCerradaForm.controls['caja_Observacion'].invalid" style="color: red !important;">Observacion requerido</small>
      </div>
      <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
        <button pButton pRipple icon="pi pi-check" class="p-button-outlined p-button-primary" label="Cerrar caja" type="submit"></button>
      </div>
    </div>
    </form>
</p-dialog>
