<p-toast ></p-toast>

<!--     
    
    
    <!DOCTYPE html>
    <html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Imagen en una Card</title>
        <style>
            .card {
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 20px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                display: inline-block;
                margin: 20px; 
            }
            .card img {
                width: 100%;
                border-radius: 5px;
            }
        </style>
    </head>
    <body>
        <div class="card">

            <img src="../../../../assets/demo/images/galleria/Bien.png" alt="Imagen">
        </div>
    </body>
    </html> -->
    <div class="card-header">
        <div style="width: 100%; height: 200px; border-radius:  10px; background-image: url(./../../../../../../assets/demo/images/galleria/Bien.png); background-repeat: no-repeat; background-size: cover; background-position: center -35px;"></div>
    </div>
<div class="grid" style="margin-top: 10px;">
   
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0" [ngStyle]="{
            'background-image': 'url(../../../../assets/demo/images/galleria/maqui.png)',
            'background-size': 'cover',
            'background-repeat': 'no-repeat'
        }">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Maquillaje</span>
                    <div class="text-900 font-medium text-xl">{{ totalfinalma }}</div>
                </div>
                
            </div>
            <span class="text-green-500 font-medium">{{ totalVendido2 }} </span>
            <span class="text-500">Unidades Vendidas</span>
        </div>
    </div>
    
   
    <div class="col-12 lg:col-6 xl:col-6">
        <div class="card mb-0" [ngStyle]="{
            'background-image': 'url(../../../../assets/demo/images/galleria/mjoya.png)',
            'background-size': 'cover',
            'background-repeat': 'no-repeat'
        }">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Joyas </span>
                    <div class="text-900 font-medium text-xl">{{ totalfinaljo }}</div>
                </div>
                
            </div>
            <span class="text-green-500 font-medium">{{ totalVendido1 }}</span>
            <span class="text-500"> Unidades Vendidas</span>
        </div>
    </div>
    

    


    <div class="col-12 lg:col-6 xl:col-6">

            <div class="card">
                <div class="flex justify-content-between align-items-center mb-6">
                    <h5>Top 5 Maquillajes  mas Vendidos en el Mes</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li *ngIf="Top1 && Catidad1" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Top1 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-orange-500 h-full" [style.width.%]="Catidad1"></div>                            </div>
                            <span class="text-orange-500 ml-3 font-medium">{{ Catidad1 }}</span>
                        </div>
                    </li>
                    <li *ngIf="Top2 && Catidad2" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Top2 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-cyan-500 h-full" [style.width.%]="Catidad2"></div>                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">{{ Catidad2 }}</span>
                        </div>
                    </li>
                    <li  *ngIf="Top3 && Catidad3" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4" [class.hidden]="!CantTop3"> 
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0"     >{{ Top3 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-pink-500 h-full" [style.width.%]="Catidad3"></div>                            </div>
                            <span class="text-pink-500 ml-3 font-medium">{{ Catidad3 }}</span>
                        </div>
                    </li>
                    <li *ngIf="Top4 && Catidad4" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Top4 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-500 h-full" [style.width.%]="Catidad4"></div>                            </div>
                            <span class="text-green-500 ml-3 font-medium">{{ Catidad4 }}</span>
                        </div>
                    </li>
                    <li *ngIf="Top5 && Catidad5"  class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Top5 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-purple-500 h-full" [style.width.%]="Catidad5"></div>                            </div>
                            <span class="text-purple-500 ml-3 font-medium">{{ Catidad5 }}</span>
                        </div>
                    </li>
                   
                </ul>
            </div>

</div>
<div class="col-12 lg:col-6 xl:col-6">

            <div class="card">
                <div class="flex justify-content-between align-items-center mb-6">
                    <h3 > Top 5 Joya Vendidas en el Mes</h3>
                    <!-- <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div> -->
                </div>
                <ul class="list-none p-0 m-0">
                    <li *ngIf="Topm1 && Catidadm1"  class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm1 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-teal-500 h-full" [style.width.%]="Catidadm1"></div>                            </div>
                            <span class="text-orange-500 ml-3 font-medium">{{ Catidadm1 }}</span>
                        </div>
                    </li>
                    <li  *ngIf="Topm2 && Catidadm2" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm2 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-purple-500 h-full" [style.width.%]="Catidadm2"></div>                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">{{ Catidadm2 }}</span>
                        </div>
                    </li>
                    <li *ngIf="Topm3 && Catidadm3"class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm3 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-500 h-full" [style.width.%]="Catidadm3"></div>                            </div>
                            <span class="text-pink-500 ml-3 font-medium">{{ Catidadm3 }}</span>
                        </div>
                    </li>
                    <li *ngIf="Topm4 && Catidadm4" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm4 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-pink-500 h-full" [style.width.%]="Catidadm4"></div>                            </div>
                            <span class="text-green-500 ml-3 font-medium">{{ Catidadm4 }}</span>
                        </div>
                    </li>
                    <li *ngIf="Topm5 && Catidadm5" class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm5 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-cyan-500 h-full" [style.width.%]="Catidadm5"></div>                            </div>
                            <span class="text-purple-500 ml-3 font-medium">{{ Catidadm5 }}</span>
                        </div>
                    </li>
                   
                </ul>
            </div>
</div>
        </div>

        <div class="col-12 xl:col-6">
          

            <!-- <div class="card">
                <div class="flex justify-content-between align-items-center mb-5">
                    <h5> Top 5 Joya Vendidas en el Mes</h5>
                    <div>
                        <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain" (click)="menu.toggle($event)"></button>
                        <p-menu #menu [popup]="true" [model]="items"></p-menu>
                    </div>
                </div>
                <ul class="list-none p-0 m-0">
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm1 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-teal-500 h-full" [style.width.%]="Catidadm1"></div>                            </div>
                            <span class="text-orange-500 ml-3 font-medium">{{ Catidadm1 }}</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm2 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-purple-500 h-full" [style.width.%]="Catidadm2"></div>                            </div>
                            <span class="text-cyan-500 ml-3 font-medium">{{ Catidadm2 }}</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm3 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-green-500 h-full" [style.width.%]="Catidadm3"></div>                            </div>
                            <span class="text-pink-500 ml-3 font-medium">{{ Catidadm3 }}</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm4 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-pink-500 h-full" [style.width.%]="Catidadm4"></div>                            </div>
                            <span class="text-green-500 ml-3 font-medium">{{ Catidadm4 }}</span>
                        </div>
                    </li>
                    <li class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4">
                        <div>
                            <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{ Topm5 }}</span>
                        </div>
                        <div class="mt-2 md:mt-0 ml-0 md:ml-8 flex align-items-center">
                            <div class="surface-300 border-round overflow-hidden w-10rem lg:w-6rem" [ngStyle]="{height: '8px'}">
                                <div class="bg-cyan-500 h-full" [style.width.%]="Catidadm5"></div>                            </div>
                            <span class="text-purple-500 ml-3 font-medium">{{ Catidadm5 }}</span>
                        </div>
                    </li>
                   
                </ul>
             </div>
            -->
           
</div>

    

<p-dialog [(visible)]="ConfirmarPago" [modal]="true" [style]="{width:'450px'}" [closable]="false">
        <ng-template pTemplate="header">
            <div style="display: flex; align-items: center;">
                <span>Digite las ganancias del dia</span>
                <div style="margin-left: 5px; display: flex; align-items: center; color: red;">
                    <i class="pi pi-exclamation-circle" style="margin-right: 0.5rem;"></i>
                    <span>Caja no cerrada</span>
                </div>
            </div>
        </ng-template>
        <form [formGroup]="CajaForm" #formDirective="ngForm" (ngSubmit)="onSubmit()">
          <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
              <label for="caja_MontoFinal">Monto Final</label>
              <p-inputNumber id="Compra" formControlName="caja_MontoFinal" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && CajaForm.controls['caja_MontoFinal'].invalid}"></p-inputNumber>
            <small class="ng-dirty ng-invalid" *ngIf="submitted && CajaForm.controls['caja_MontoFinal'].invalid" style="color: red !important;">Monto inicial requerido</small>
            </div>
            <div class="field col-12 md:col-6">
              <label for="caja_Observacion">Observaciones</label>
              <input pInputText id="caja_Observacion" formControlName="caja_Observacion" type="text" required autofocus 
              [ngClass]="{'ng-invalid ng-dirty': submitted && CajaForm.controls['caja_Observacion'].invalid}"
           />
            <small class="ng-dirty ng-invalid" *ngIf="submitted && CajaForm.controls['caja_Observacion'].invalid" style="color: red !important;">Observacion requerido</small>
          </div>
          <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
            <button pButton pRipple icon="pi pi-check" class="p-button-outlined p-button-primary" label="Cerrar caja" type="submit"></button>
          </div>
        </div>
        </form>
      </p-dialog>




