<p>list-maquillaje works!</p>
<div class="main-card mb-3 card"> 
    <div class="card-header">
        <h3 class="card-title">Municipios</h3>
    </div>
    <div class="card-body">
        <p-dialog header="Dialog" [(visible)]="display" [modal]="true" showEffect="fade" [style]="{width: '30vw'}" [breakpoints]="{'960px': '75vw'}">
            <div class="p-fluid p-formgrid grid">
				<div class="field col-12 md:col-6">
					<label htmlFor="firstname2">Codigo</label>
					<input pInputText id="firstname2" type="text" />
				</div>
				<div class="field col-12 md:col-6">
					<label htmlFor="lastname2">Municipio</label>
					<input pInputText id="lastname2" type="text" />
				</div>
                <div class="field col-12 md:col-6">
					<label htmlFor="state">State</label>
					<p-dropdown [options]="dropdownItems" optionLabel="name" [(ngModel)]="selectedState"></p-dropdown>
				</div>
			</div>
       
            
             
                 
                       
            
              
            
                   
          
         
     
                  
            <ng-template pTemplate="footer">
                    <button pButton icon="pi pi-check" (click)="display=false" label="Ok" class="p-button-outlined"></button>
            </ng-template>
        </p-dialog>
        <div class="grid">
            <div class="col-12">
                <button (click)="display=true" pButton icon="pi pi-external-link" label="Agregar"></button>
            </div>
        </div>
        <p-table #dt1 [value]="Maquillaje" dataKey="maqu_Id" [rows]="10" [loading]="loading" [rowHover]="true" styleClass="p-datatable-gridlines" [paginator]="true" [globalFilterFields]="['maqu_Id,maqu_Nombre,maqu_PrecioCompra,maqu_PrecioVenta,maqu_PrecioMayor,prov_Proveedor,marc_Marca']" responsiveLayout="scroll">
            <ng-template pTemplate="caption">
                <div class="flex justify-content-between flex-column sm:flex-row">
                    <button pButton label="Clear" class="p-button-outlined mb-2" icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                    <span class="p-input-icon-left mb-2">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)" placeholder="Search Keyword" class="w-full"/>
                    </span>
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            ID
                            <p-columnFilter type="text" field="maqu_Id" display="menu" placeholder="Search by name"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Maquillaje
                            <p-columnFilter type="text" field="maqu_Nombre" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Precio Compra
                            <p-columnFilter type="text" field="maqu_PrecioCompra" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Precio Mayor
                            <p-columnFilter type="text" field="maqu_PrecioMayor" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Precio Venta
                            <p-columnFilter type="text" field="maqu_PrecioVenta" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Proveedor
                            <p-columnFilter type="text" field="prov_Proveedor" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 12rem">
                        <div class="flex justify-content-between align-items-center">
                            Marca
                            <p-columnFilter type="text" field="marc_Marca" display="menu" placeholder="Search by country"></p-columnFilter>
                        </div>
                    </th>
                    <th style="min-width: 14rem">
                        
                            Acciones
    
                    
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-maqu>
                <tr>
                    <td>
                        {{maqu.maqu_Id}}
                    </td>
                    <td>
                        {{maqu.maqu_Nombre}}
                    </td>
                    <td>
                        {{maqu.maqu_PrecioCompra}}
                    </td>
                    <td>
                        {{maqu.maqu_PrecioMayor}}
                    </td>
                    <td>
                        {{maqu.maqu_PrecioVenta}}
                    </td>
                    <td>
                        {{maqu.prov_Proveedor}}
                    </td>
                    <td>
                        {{maqu.marc_Marca}}
                    </td>
                    <td style="display: flex; justify-content: space-around;">
                        <button pButton pRipple type="button" label="Editar" class="p-button-raised p-button-success"></button>
                        <button pButton pRipple type="button" label="Detalles" class="p-button-raised p-button-secondary"></button>
                        <button pButton pRipple type="button" label="Eliminar" class="p-button-raised p-button-danger"></button>
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No customers found.</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody">
                <tr>
                    <td colspan="8">Loading customers data. Please wait.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>





