<div class="card">
    <div class="card-header">
        <p>usuario works!</p>
        <div style="width: 100%; height: 150px; background-image: url(./../../../../../../assets/demo/images/galleria/depa.png); background-repeat: no-repeat; background-size: cover; background-position: center -60px; border-radius: 10px;"></div>

    </div>
    <div class="card-body">
        <div class="card-body">
            <div>
                <label >Nombre:</label>
            </div>
            <div>
                <label for="">Cargo</label>
            </div>
            <div>
                <label>Correo:</label>
            </div>
            <div>
                <label for="">Sucursal:</label>
            </div>
            <div>
                <label for="">Municipio de residencia</label>
            </div>

        </div>
    </div>
</div>