<p-toast ></p-toast>
<div class="main-card mb-3 card"> 
    <div class="card-header">
        <div style="width: 100%; height: 80px; background-image: url(./../../../../../../assets/demo/images/galleria/FACTURA1.png); background-repeat: no-repeat; background-size: cover; background-position: center -100px; border-radius: 10px;"></div>
    </div>
    <div class="card-body">
            <form [formGroup]="FacturaForm" (ngSubmit)="onSubmit()" #formDirective="ngForm">
              <div class="p-fluid p-formgrid grid">

                <div class="field col-12 md:col-6" style="display: none;">
                  <label for="">Empleado</label>
                  <p-inputGroup>
                    <p-inputGroupAddon>
                        <i class="pi pi-user"></i>
                    </p-inputGroupAddon>
                    <input pInputText id="Empl_Nombre" formControlName="Empl_Nombre" type="text" required autofocus  [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('Empl_Nombre').value === ''}"
                    (keydown)="validarTexto($event)" />
                </p-inputGroup>
                  <small class="ng-dirty ng-invalid" *ngIf="submitted && FacturaForm.controls['Empl_Nombre'].invalid" style="color: red !important;">Empleado Requerido</small>
                </div>

                <div class="field col-12 md:col-6" style="display: none;">
                    <label for="">Impuesto</label>
                    <p-inputGroup>
                        <p-inputGroupAddon>
                            <i class="pi pi-percentage" style="line-height: 1.25"></i>
                        </p-inputGroupAddon>
                        <input pInputText id="Impu_Impuesto" formControlName="Impu_Impuesto" type="text" required autofocus  [ngClass]="{'ng-invalid ng-dirty': submitted && FacturaForm.get('Impu_Impuesto').value === ''}"
                        (keydown)="validarTexto($event)" />
                    </p-inputGroup>

                    <small class="ng-dirty ng-invalid" *ngIf="submitted && FacturaForm.controls['Impu_Impuesto'].invalid" style="color: red !important;">Impuesto Requerido</small>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label for="">DNI</label>
                    <div class="styled-input-group">
                        <div class="styled-addon">
                            <i class="pi pi-search-plus"></i>
                        </div>
                        <p-autoComplete
                            [(ngModel)]="selectedClientesAdvanced"
                            [suggestions]="filteredClientes"
                            (completeMethod)="filterCliente($event)"
                            (onSelect)="onSelectCliente($event)"
                            field="clie_DNI"
                            (keydown)="ValidarNumeros($event)"
                            formControlName="Clie_DNI"
                            class="autocomplete-input si"
                            appendTo="body">
                        </p-autoComplete>
                    </div>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="">Cliente</label>
                    <div class="styled-input-group">
                        <div class="styled-addon">
                            <i class="pi pi-search-plus"></i>
                        </div>
                        <p-autoComplete
                            [(ngModel)]="selectedClientesNombreAdvanced"
                            [suggestions]="filteredClientesNombre"
                            (completeMethod)="filterClienteNombre($event)"
                            (onSelect)="onSelectClienteNombre($event)"
                            (keydown)="validarTexto($event)"
                            field="clie_Nombre"
                            formControlName="Clie_Nombre"
                            class="autocomplete-input si"
                            appendTo="body">
                        </p-autoComplete>
                    </div>
                </div>
         
                  <div class="field col-12 md:col-12">
                    <label for="">Método de Pago</label>
                    <div class="payment-method-icons" >
                       
                        <button type="button" (click)="selectMetodoPago('1')" [class.selected]="selectedMetodo === '1'">
                            <i class="pi pi-wallet"></i> Efectivo
                        </button>
                
                     
                        <button type="button" (click)="selectMetodoPago('4')" [class.selected]="selectedMetodo === '4'">
                            <i class="pi pi-credit-card"></i> Tarjeta de Crédito
                        </button>
                
               
                        <button type="button" (click)="selectMetodoPago('7')" [class.selected]="selectedMetodo === '7'">
                            <i class="pi pi-globe"></i> Pago en Línea
                        </button>
                    </div>
                </div>
     
               
                </div>
             
            
       

                <p-table [value]="FacturaDetalle">
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width:10%;">Categoria  </th>
                            <th style="width:10%;">Imagen</th>
                            <th style="width:5%;">Código</th>
                            <th style="width:60%;">Producto</th>
                            <th style="width:5%;">Cantidad</th>
                            <th style="width:5%;">Precio</th>
                            <th style="width:5%;">Total</th>
                            <th style="width:5%;"></th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-detalle>
                        <tr>
                            <td style="width:10%;">{{detalle.categoria}}</td>
                            <td style="width:14%;">
                                <div style="width: 100%; height: 100%; display: flex; justify-content: center; align-content: center;">
                                    <img src="http://esmeraldaa.somee.com/uploads/{{detalle.imagen}}" width="80" alt="" class="shadow">
                                </div>
                      
                              
                            <td style="width:5%;">{{detalle.prod_Id}}</td>

                            <td style="width:60%;">{{detalle.producto}}</td>
                            <td style="width:5%;">{{detalle.cantidad}}</td>
                            <td style="width:5%;">{{detalle.precio_Unitario}}</td>
                            <td style="width:5%;">{{detalle.total}}</td>
                            <td style="width:5%;">
                                <span pRipple class="pi pi-trash p-button-rounded p-button-warning" style="cursor: pointer; padding: 5px; border: none; background-color: transparent;" (click)="confirmDelete(detalle.producto,detalle.categoria)"></span>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        <tr>
                            <td style="width:10%;">
                                <div style="width: 100px;">
                                <label style="width: 80px !important;">
                                    <input type="radio" name="j-m-radio" value="1" (change)="onRadioChange($event)" formControlName="Faxd_Dif" />
                                    J
                                </label>
                                <label style="width: 80px !important; ">
                                    <input type="radio" name="j-m-radio" value="0" (change)="onRadioChange($event)" formControlName="Faxd_Dif" />
                                    M
                                </label>
                            </div>
                            </td>
                            <td></td>
                            <td style="width: 100px;">
                              
                                <p-autoComplete 
                
                                [(ngModel)]="selectedListJoya"
                                [suggestions]="filteredListJoya"
                                (completeMethod)="filterJoyaList($event)"
                                (onSelect)="onSelectJoyaList($event)"
                                field="id"
                                formControlName="Prod_Id"
                                (keydown)="handleKeyDown($event, 'Prod_Id')"
                                (keydown)="ValidarNumeros($event)"
                                appendTo="body"
                                class="cien"
                                class="autocomplete-input"
                                [style]="{'height': '30px'}"
                               >               
                                </p-autoComplete>
                                <small *ngIf="submitted && FacturaForm.get('Prod_Id').errors?.required" style="color: red;">
                                    Código vacio.
                                </small>

                            </td>
                            
                            <td style="width:60%;">
                                <p-autoComplete 
              
                                [(ngModel)]="selectedCountryAdvanced"
                                [suggestions]="filteredCountries"
                                (completeMethod)="filterCountry($event)"
                                (onSelect)="onSelectProduct($event)"
                                field="nombre"
                                formControlName="Prod_Producto"
                                (keydown)="handleKeyDown($event, 'Prod_Producto')"
                                (keydown)="validarTexto($event)"
                                appendTo="body"
                                class="cien"
                                [style]="{'height': '30px'}">
                              </p-autoComplete>
                                <small *ngIf="submitted && FacturaForm.get('Prod_Producto').errors?.required" style="color: red;">
                                    Producto vacío.
                                </small>
                            </td>
                            
                            <td >
                               
                                <input pInputText id="Faxd_Cantidad" formControlName="Faxd_Cantidad" type="text"
                                #cantidadInput  class="cantidad"
                                (keydown)="handleKeyDown($event, 'Faxd_Cantidad')"  (keydown)="ValidarNumeros($event)" style="height: 30px;">
                                <small *ngIf="submitted" style="color: red;">
                                    Cantidad vacía.
                                </small>
                                <small *ngIf="submitted && FacturaForm.get('Faxd_Cantidad').errors?.min" style="color: red;">
                                    Cantidad debe ser mayor que 0.
                                </small>
                            </td>
                            <td style="width:5%;">{{MayorOVenta}}</td>
                            <td style="width:5%;">{{TotalTabla}}</td>
                            <td style="width:5%;">
                               
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
    


        <div class="totals-container">
            <div class="total-item">
                <span class="total-label">Subtotal:</span>
                <span class="total-value"> {{Subtotal}}Lps</span>
            </div>
            <div class="total-item">
                <span class="total-label">Impuesto:</span>
                <span class="total-value"> {{Impuesto}}Lps</span>
            </div>
            <div class="total-item">
                <span class="total-label">Total:</span>
                <span class="total-value">{{Total}} Lps</span>
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
            <button pButton icon="pi pi-check-circle" type="button" (click)="refrescar()" label="Nuevo" class="p-button-outlined"></button>
            <button pButton icon="pi pi-check-circle" type="button" (click)="confirmar()" label="Confirmar" class="p-button-outlined"></button>
        </div>

        
        </form>
 
        <form [formGroup]="PagoForm" #formDirective="ngForm">
        <p-dialog [(visible)]="deleteProductDialog" header="Pago en efectivo" [modal]="true" [style]="{width:'450px'}">
           
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6" >
                        <p-inputGroup>
                            <p-inputGroupAddon>
                              <i class="pi pi-money-bill" style="line-height: 1.25"></i>
                            </p-inputGroupAddon>
                            <input pInputText id="Pago"  [(ngModel)]="Cambioo"  (keyup)="SuCambio($event)" formControlName="Pago" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': dinero}"/>
                          </p-inputGroup>
                          <small *ngIf="dinero" style="color: red;">
                            La cantidad de dinero no es suficiente
                          </small>

                    </div>
                   <div class="field col-12 md:col-6" style="position: relative; top: 10px;" >
                        <label for="">{{CambioDar}}</label>
                    </div>
                </div>
                <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
                    <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-primary" label="No" (click)="deleteProductDialog = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-outlined p-button-primary" label="Si" (click)="ConfirmarEditado()" ></button>    
                </div>
      
               
     
        </p-dialog>

        <p-dialog [(visible)]="ConfirmarPago" header="Pago en efectivo" [modal]="true" [style]="{width:'450px'}">
          
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6" >
                        <p-inputGroup>
                            <p-inputGroupAddon>
                              <i class="pi pi-money-bill" style="line-height: 1.25"></i>
                            </p-inputGroupAddon>
                            <input pInputText id="Pago" formControlName="PagoT" type="text" required autofocus [ngClass]="{'ng-invalid ng-dirty': dinero}"/>
                          </p-inputGroup>
                          <small *ngIf="dinero" style="color: red;">
                            La cantidad de dinero no es suficiente
                          </small>
                    </div>
                 
                </div>
                <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
                    <button pButton pRipple icon="pi pi-times" class="p-button-outlined p-button-primary" label="No" (click)="ConfirmarPago = false"></button>
                    <button pButton pRipple icon="pi pi-check" class="p-button-outlined p-button-primary" label="Si" (click)="ConfirmarT()" ></button>    
                </div>
      
               
      
        </p-dialog>
    </form>
    </div>
</div>

<div class="card-body" [class.hidden]="!Reporte_3">
    <iframe *ngIf="pdfSrc" [src]="pdfSrc" type="application/pdf" width="100%" height="600px">
        PDF Preview
      </iframe>
</div>
<div class="card-body" [class.hidden]="!Reporte_2">
    <iframe *ngIf="pdfSrc" [src]="pdfSrc" type="application/pdf" width="100%" height="600px">
        PDF Preview
      </iframe>
</div>

<p-dialog [(visible)]="AbrirCaja" [modal]="true" [style]="{width:'450px'}" [closable]="false">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span>Con cuanto inicia el dia?</span>
            <div style="margin-left: 5px; display: flex; align-items: center; color: red;">
                <i class="pi pi-exclamation-circle" style="margin-right: 0.5rem;"></i>
                <span>Caja no abierta</span>
            </div>
        </div>
    </ng-template>
    <form [formGroup]="CajaForm" #formDirective="ngForm">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="caja_MontoFinal">Monto Inicio</label>
          <p-inputNumber id="Compra" formControlName="caja_MontoInicial" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': subirCaja && CajaForm.controls['caja_MontoInicial'].invalid}"></p-inputNumber>
        <small class="ng-dirty ng-invalid" *ngIf="subirCaja && CajaForm.controls['caja_MontoInicial'].invalid" style="color: red !important;">Monto inicial requerido</small>
        </div>

     
    </div>
    <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
        <button pButton pRipple icon="pi pi-check" class="p-button-outlined p-button-primary" label="Abrir caja" type="submit" (click)="onSubmitCaja()"></button>
      </div>
    </form>
  </p-dialog>
  <p-dialog [(visible)]="CajaCerradaDialog" [modal]="true" [style]="{width:'450px'}" [closable]="false">
    <ng-template pTemplate="header">
        <div style="display: flex; align-items: center;">
            <span>Digite las ganancias del dia</span>
            <div style="margin-left: 5px; display: flex; align-items: center; color: red;">
                <i class="pi pi-exclamation-circle" style="margin-right: 0.5rem;"></i>
                <span>Caja no cerrada</span>
            </div>
        </div>
    </ng-template>
    <form [formGroup]="CajaCerradaForm" #formDirective="ngForm" (ngSubmit)="onSubmitCajaCerrada()">
      <div class="p-fluid p-formgrid grid">
        <div class="field col-12 md:col-6">
          <label for="caja_MontoFinal">Monto Final</label>
          <p-inputNumber id="Compra" formControlName="caja_MontoFinal" mode="currency" currency="USD" locale="en-US" [ngClass]="{'ng-invalid ng-dirty': submitted && CajaCerradaForm.controls['caja_MontoFinal'].invalid}"></p-inputNumber>
        <small class="ng-dirty ng-invalid" *ngIf="submitted && CajaCerradaForm.controls['caja_MontoFinal'].invalid" style="color: red !important;">Monto inicial requerido</small>
        </div>
        <div class="field col-12 md:col-6">
          <label for="caja_Observacion">Observaciones</label>
          <input pInputText id="caja_Observacion" formControlName="caja_Observacion" type="text" required autofocus 
          [ngClass]="{'ng-invalid ng-dirty': submitted && CajaCerradaForm.controls['caja_Observacion'].invalid}"
       />
        <small class="ng-dirty ng-invalid" *ngIf="submitted && CajaCerradaForm.controls['caja_Observacion'].invalid" style="color: red !important;">Observacion requerido</small>
      </div>
     
    </div>
    <div style="display: flex; justify-content: flex-end; margin-top: 1rem; grid-gap: 5px;">
        <button pButton pRipple icon="pi pi-check" class="p-button-outlined p-button-primary" label="Cerrar caja" type="submit"></button>
      </div>
    </form>
</p-dialog>






