<p-toast ></p-toast>
<div class="card" style="background-color: #eececd;" [class.hidden]="Collapse">
    <div class="card-header">
            <div class="p-fluid p-formgrid grid" style="width: 100%; height: 150px; background-image: url(./../../../../../../assets/demo/images/galleria/sinletras.png); background-repeat: no-repeat; background-size: cover; background-position: center -60px; border-radius: 10px; margin-bottom: -7%;">
                <div class="field col-12 md:col-4"></div>
                <div class="field col-12 md:col-4">
                    <img src="./../../../../../../assets/demo/images/avatar/icono.png" style="width: 100%; height: 200px;" alt="">
                </div>
                <div class="field col-12 md:col-4"></div>
            </div>

    </div>
    <div class="card-body">
        
        <div class="p-fluid p-formgrid grid" style="margin-top: 10%;">
            <div class="field col-12 md:col-12"></div>
            

                <div class="p-fluid  col-12 md:col-6">
                    <label  style="font-weight: bold">Nombre de usuario: </label>
                    <label for="" id="ID_Usuario">{{Usuanombre}}</label>
                </div>
                <div class="p-fluid  col-12 md:col-5">
                    <label for=""  style="font-weight: bold">Empleado: </label>
                    <label for="" id="empl">{{empleado}}</label>
                </div>
                <div class="p-fluid  col-12 md:col-6">
                    <label style="font-weight: bold">Correo: </label>
                    <label for="" id="correo">{{correo}}</label>
                </div>
                <div class="p-fluid  col-12 md:col-6">
                    <label for="" style="font-weight: bold">Sucursal asignada: </label>
                    <label for="" id="sucu">{{sucursal}}</label>
                </div>
                <div class="p-fluid col-12 md:col-6">
                    <label for="" style="font-weight: bold">Rol del usuario: </label>
                    <label for="" id="rol">{{role}}</label>
                </div>
                <div class="p-fluid col-12 md:col-6"></div>
                <div class="p-fluid col-12 md:col-6">

                    <button (click)="collapse()" pButton icon="pi pi-user-edit" style="margin-bottom: 10px ;  margin-top: 10px;" >Editar</button>
                </div>
        </div>

    </div>
</div>
<div class="card" [class.hidden]="!Edicion" style="background-color: #eececd;">
    
        <form [formGroup]="usuform" (ngSubmit)="onSubmit()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-6">

                    <label for="">Nombre de usuario</label>
                    <input pInputText id="usuario" formControlName="Usua_Usuario" type="text" required autofocus  [ngClass]="{'ng-invalid ng-dirty': submitted && usuform.get('Usua_Usuario').value === ''}" />
                </div>
                <div class="field col-12 md:col-6">
                    <label for="">Empleado</label>
                        <select formControlName="Empl_Id" pInputText id="Empl_Id" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && usuform.get('Empl_Id').value === '0'}" >
                        <option *ngFor="let empl of empleados" [value]="empl.value">{{ empl.text }}</option>
                        </select>
                        <small *ngIf="submitted && usuform.get('Empl_Id').value === '0'" style="color: red;">Empleado Requerido</small>
                </div>
                <div class="field col-12 md:col-6">
                    <label for="Rol">Rol</label>
                    <select formControlName="Role_Id" pInputText id="Rol" required autofocus [ngClass]="{'ng-invalid ng-dirty': submitted && usuform.get('Role_Id').value === '0'}" >
                    <option *ngFor="let role of rol" [value]="role.value">{{ role.text }}</option>
                    </select>
                    <small *ngIf="submitted && usuform.get('Role_Id').value === '0'" style="color: red;">Rol Requerido</small>
                </div>
            </div>
        <button pButton icon="pi pi-check" type="submit" label="Agregar" ></button>
        <button (click)="cancelar()" pButton  style="margin-left: 10px ; " >Cancelar</button>
    </form>

</div>