
<div class="main-card mb-3 card"> 
    <div class="card-header">
        <div class="card-header">
            <div style="width: 100%; height: 80px; background-image: url(./../../../../../../assets/demo/images/galleria/ventaspormes1.png); background-repeat: no-repeat; background-size: cover; background-position: center 50%; border-radius: 10px;"></div>
            
        </div>
        <h3 class="card-title">Reporte</h3>

            <div class="p-fluid p-formgrid grid">
   
                <div class="field col-12 md:col-6">
                    <p-dropdown [options]="cities" [(ngModel)]="selectedDrop" placeholder="Año" [showClear]="true"  (onChange)="onselectAno($event)"></p-dropdown>
               
                </div>
                <div class="field col-12 md:col-6">
                    <p-dropdown [options]="meses" [(ngModel)]="SelectedMes" placeholder="Mes" [showClear]="true" (onChange)="onselectMes($event)"></p-dropdown>
               
                </div>
            </div>

    </div>

</div>

<div class="card-body" >
    <iframe  [src]="pdfSrc" type="application/pdf" width="100%" height="600px">
        PDF Preview
      </iframe>
</div>

