
<div class="main-card mb-3 card"> 
    <div class="card-header">
          <div style="width: 100%; height: 80px; background-image: url(./../../../../../../assets/demo/images/galleria/productosvendidos.png); background-repeat: no-repeat; background-size: cover; background-position: center 50%; border-radius: 10px;"></div>
          
            <div class="p-fluid p-formgrid grid">
              <div class="field col-12 md:col-12">
   </div>
                <div class="field col-12 md:col-6">
                    <label for="">Fecha Inicio</label>
                    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="controllerInicio" (ngModelChange)="onFechaInicioChange($event)"></p-calendar>
                  </div>
                  <div class="field col-12 md:col-6">
                    <label for="">Fecha Final</label>
                    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="controllerFinal" (ngModelChange)="onFechaFinalChange($event)"></p-calendar>
                  </div>
            </div>

    </div>

</div>

<div class="card-body" >
    <iframe  [src]="pdfSrc" type="application/pdf" width="100%" height="600px">
        PDF Preview
      </iframe>
</div>
